.container
  form
    fieldset
    legend
      - if (lang === 'ja')
        | 更新登録
      - else
        | Update Aggregator
    label
      - if (lang === 'ja')
        | 名前 ("/"区切り)
      - else
        | Name (separated by "/")
    input(type="text", placeholder="food/japanese/sushi", ng-model="aggregator.name")
    
    label
      - if (lang === 'ja')
        | 説明文 (他人にも分かるように)
      - else
        | Description
    textarea(ng-model="aggregator.description")

    label
      - if (lang === 'ja')
        | フィードURL (改行区切り)
      - else
        | Feed URLs (separated by lines)
    textarea(ng-model="aggregator.feeds")

    //- TODO edit filter (GUI?)

    label.checkbox
      input(type="checkbox", ng-model="aggregator.browsable")
      - if (lang === 'ja')
        | 閲覧可能 (名前を知らなくても)
      - else
        | Browsable (without knowing the name)

    button.btn(ng-click="updateAggregator()")
      - if (lang === 'ja')
        | 更新登録
      - else
        | Update
hr
.container
  .rss-doc(ng-show="rssDoc")
    h3.rss-title(ng-bind="rssDoc.find('channel > title').text()")
    ul
      li(ng-repeat="itemEle in rssDoc.find('item').get()")
        a(ng-href="{{jQuery(itemEle).find('link').text()}}", ng-bind="jQuery(itemEle).find('title').text()")
