.container
  a.btn.btn-warning(ng-href="#/edit")
    i.icon-edit.icon-white
    span.btn-label= (lang === 'ja' ? '新規作成' : 'Create New')
hr
.container
  div(ng-repeat="aggregator in aggregators")
    .well
      input(type="text", ng-init="aggregator.displayUrl=aggregator.rssUrl", ng-model="aggregator.displayUrl", ng-change="aggregator.displayUrl=aggregator.rssUrl")
      h4(ng-bind="aggregator.name")
      p(ng-bind="aggregator.description")
      a.btn.btn-info(ng-href="#/edit?name={{aggregator.name}}")
        i.icon-pencil.icon-white
        span.btn-label= (lang === 'ja' ? '編集' : 'Edit')
